:root {
	--dark-green: #3a4825;
	--bright-green: #f6fcec;
	--accordion-darkblue: #e2eefe;
	--accordion-brightblue: #f2f8ff;
	font-size: 16px;
}

/******* fonts ******** */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Ledger";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/ledger-v16-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
	margin: 0;
	padding: 0;
	color: var(--dark-green);
	font-family: "Ledger";
	background-color: var(--bright-green);
	line-height: 1.5;
}

h1,
h2,
h3 {
	line-height: 1;
}

.layout-all-container {
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	justify-content: center;
}

img {
	margin-top: 1rem;
	margin-bottom: 1rem;
	max-width: 100%;
}

/* header */

.header {
	background-image: url(/header2.png);
	padding-top: 400px;
	padding-bottom: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	display: flex;
	justify-content: flex-end;
	padding-right: 2rem;
}

h1 {
	color: white;
	font-size: clamp(2rem, 5vw, 3rem);
}

/* content */

.content-section {
	max-width: 800px;
}

.content-section img {
	border-radius: 0.25rem;
}

.clickbelow {
	margin-top: 1rem;
}

.accordion-item {
	margin-bottom: 2rem;
}

h2 {
	margin-top: 5rem;
	margin-bottom: 1rem;
}

.house-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.house-container p {
	margin-top: -8px;
	font-size: 12px;
}

/* accordion business */

a {
	display: block;
	margin-bottom: 2rem;
}

.accordion-item h2 {
	margin-top: 0;
}

.accordion-item {
	border: none;
	border-radius: 0.25rem;
}

/* Remove background color */
.accordion-button {
	background-color: var(--accordion-darkblue);
}

.accordion-button.collapsed {
	border-radius: 0.25rem;
}

/* Remove background color on active state */
.accordion-button:focus {
	background-color: var(--accordion-darkblue);
}

/* Remove border if desired */
.accordion-button {
	border: none;
}

/* Override default active border on focus and hover */
.accordion-button:focus,
.accordion-button:hover,
.accordion-button:active,
.accordion-button:not(.collapsed) {
	border-color: transparent !important;
	background-color: var(--accordion-darkblue);
	border: none;
	border-bottom: none;
}

.accordion {
	--bs-accordion-btn-focus-box-shadow: transparent;
	--bs-accordion-border-color: transparent;
}

.accordion-body {
	background-color: var(--accordion-brightblue);
	--bs-accordion-border-color: transparent;
	--bs-accordion-border-width: none;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.byebye {
	display: flex;
	justify-content: center;
	padding: 4rem 0 8rem 0;
}
